@import url('/fonts/IosevkaSlab/IosevkaSlab.css');
@import url('/fonts/PkgWebFont-Iosevka-34.8.1/Iosevka.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* Pico.css variables to enforce light mode/black and white */
:root {
  --pico-font-family: Karla, sans-serif;
  /* --pico-font-family: 'Iosevka Slab Web', serif; */
  --pico-background-color: #ffffff;
  --pico-color: #000000;
  --pico-primary: #000000;
  --pico-primary-hover: #333333;
}

/* .font-mono {
  font-family: 'Iosevka Slab Web', monospace;
} */